.bestseller
  font-family: Roboto
  font-style: normal
  font-weight: normal
  .wrapper-title
    @extend %wrapper-title
    margin-bottom: 20px
  .title
    @extend %title
  .see-all
    @extend %link
  &__wrapper-card
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 100px
    height: 400px
  &__card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 279px
    height: 360px
    background: rgba(242, 242, 242, 0.4)
    padding-top: 38px
    .categories
      margin-top: 47px
      margin-left: 16px
      margin-bottom: 8px
      align-self: flex-start
      font-size: 13px
      line-height: 16px
      color: rgba(35, 47, 62, 0.48)
    .name
      font-weight: bold
      font-size: 15px
      line-height: 16px
      color: #000000
      margin-left: 16px
      align-self: flex-start
    .price-rating
      width: 88%
      margin: 8px 16px
      display: flex
      justify-content: space-between
      .price
        span
          font-weight: 500
          font-size: 13px
          line-height: 16px
          color: #146EB4

